*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}
:root{
	--bg-color: #222327;
	--text-color: #fff;
	--main-color: #7fc07c;
}
body{
    background-color: #252934;
	min-height: 100vh;
	color: var(--text-color);
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 10%;
	transition: all .50s ease;
	background-color: #272b34;
	opacity: 0.9;

}
 
.logo{
	display: flex;
	align-items: center;
}
.logo img{
height: 50px;
}
.logo span{
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 600;
}

.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0px;
	margin: 0px 30px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.navbar a.active{
	color: var(--main-color);
}
.main{
	display: flex;
	align-items: center;
}
.main a{
	margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}

.main a:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}
.conta{
	height: 100vh;
	background-image: url("back.jpg");
	background-size: cover;

}
.title{
	margin: 0 40vh;
	padding-top: 43vh;
	padding-left: 45vh;
}
h1{
    font-size: 40px;

}

.button1{
    margin-top: 8vh;
    margin-left:  75vh;
}
.button2{
    margin-top: -2.7vh;
    margin-left:  110vh;
}
.btn{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: #7fc07c;
    width: 140px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.t_color{
    color: #7fc07c;
}
.reste{
    color: whitesmoke;
}
.direction{
    margin: 0rem 0rem 5rem;
}
.radio{
    margin: 0rem -4rem 5rem;
    font-size: 20px;
    justify-content: space-evenly;


}
.form{
    position: absolute;
    margin: 5rem 15rem;
}
.loca{
    margin-top: 2rem;
}
.map{
    margin :8rem 5rem 50rem 40rem;
}

@media (max-width: 1380px){
	header{
		padding: 14px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}

	
}

@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 270px;
		height: 35vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		margin: 15px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--text-color);
		transform: translateY(5px);
	}
	.navbar a.active{
		color: var(--text-color);
	}
	.navbar.open{
		right: 2%;
	}
}
